<!-- Top Ticker -->
{% if section.settings.enable %}
  <div class="promo py-2 text-center small">
    <div class="container">
      <i class="bi bi-ticket-perforated"></i> {{ section.settings.title }}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Top Promo",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Show promo bar",
      "default": true
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Use code <strong>SWEET10</strong> for 10% off — today only!"
    }
  ]
}
{% endschema %}